<pre
														v-if="!shouldShowIframeForTab(toolResponseTab) && isDiffEntry(activeContentEntry(toolResponseTab))"
														class="content-diff">
														<span
															v-for="(line, lineIndex) in diffLines(activeContentText(toolResponseTab))"
															:key="lineIndex"
															:class="line.className">{{ line.text }}</span>
													</pre>
<pre
														v-else-if="!shouldShowIframeForTab(toolResponseTab) && activeContentText(toolResponseTab)"
														class="content-text">
														{{ activeContentText(toolResponseTab) }}
													</pre>
